.qbutton {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    margin: 20px auto;
    text-decoration: none;
    border-radius: 4px;
}
.qbutton {
    color: rgba(32, 51, 95, 0.988);
    box-shadow: rgba(190, 220, 255, 0.783) 0 0px 0px 2px inset;
}
.qbutton:hover {
    color: rgb(255, 255, 255);
    box-shadow: rgba(10, 66, 162, 0.7) 0 0px 0px 40px inset;
}

.drop {
    position: relative;
    animation: cardDrop 1s;
    -moz-animation: cardDrop 1s;
    -webkit-animation: cardDrop 1s;
    -o-animation: cardDrop 1s;
}
@keyframes cardDrop {
    from {
        left: -1000px;
    }
    to {
        left: 0px;
    }
}
@-moz-keyframes cardDrop { /* Firefox */
    from {
        top: -650px;
    }
    to {
        top: 0px;
    }
}
@-webkit-keyframes cardDrop { /* Safari and Chrome */
    from {
        top: -650px;
    }
    to {
        top: 0px;
    }
}
@-o-keyframes cardDrop { /* Opera */
    from {
        top: -650px;
    }
    to {
        top: 0px;
    }
}

.bar-increase {
    position: relative;
    animation: barIncrease 1s;
    -moz-animation: barIncrease 1s;
    -webkit-animation: barIncrease 1s;
    -o-animation: barIncrease 1s;
}
@keyframes barIncrease {
    from {
        height: 0%;
    }
    to {
        height: -100%;
    }
}
@-moz-keyframes barIncrease { /* Firefox */
    from {
        height: 0px;
    }
    to {
        height: -100px;
    }
}
@-webkit-keyframes barIncrease { /* Safari and Chrome */
    from {
        height: 0px;
    }
    to {
        height: -100px;
    }
}
@-o-keyframes barIncrease { /* Opera */
    from {
        height: 0px;
    }
    to {
        height: 100px;
    }
}

