.qbutton {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    margin: 20px auto;
    text-decoration: none;
    border-radius: 10px;
}
.qbutton {
    color: rgba(125, 168, 232, 0.988);
    box-shadow: rgba(119, 136, 155, 0.783) 0 0px 0px 1px inset;
}
.qbutton:hover {
    color: rgb(36, 71, 185);
    box-shadow: rgba(232, 240, 255, 0.7) 0 0px 0px 40px inset;
}

.drop {
    position: relative;
    animation: cardDrop 1s;
    -moz-animation: cardDrop 1s;
    -webkit-animation: cardDrop 1s;
    -o-animation: cardDrop 1s;
}
@keyframes cardDrop {
    from {
        left: -1000px;
    }
    to {
        left: 0px;
    }
}
@-moz-keyframes cardDrop { /* Firefox */
    from {
        top: -650px;
    }
    to {
        top: 0px;
    }
}
@-webkit-keyframes cardDrop { /* Safari and Chrome */
    from {
        top: -650px;
    }
    to {
        top: 0px;
    }
}
@-o-keyframes cardDrop { /* Opera */
    from {
        top: -650px;
    }
    to {
        top: 0px;
    }
}

.bar-increase {
    position: relative;
    animation: barIncrease 1s;
    -moz-animation: barIncrease 1s;
    -webkit-animation: barIncrease 1s;
    -o-animation: barIncrease 1s;
}
@keyframes barIncrease {
    from {
        height: 0%;
    }
    to {
        height: -100%;
    }
}
@-moz-keyframes barIncrease { /* Firefox */
    from {
        height: 0px;
    }
    to {
        height: -100%;
    }
}
@-webkit-keyframes barIncrease { /* Safari and Chrome */
    from {
        height: 0px;
    }
    to {
        height: -100%;
    }
}
@-o-keyframes barIncrease { /* Opera */
    from {
        height: 0px;
    }
    to {
        height: -100%;
    }
}

/* spinner */
.spinner {
    margin: 170px auto;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: rgb(146, 188, 238);
    height: 100%;
    width: 50px;
    border-radius: 5px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
