html {
    background: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    text-align: center; 
    font-size: 20px;
}
p {
    font-size: 20px;
}
button {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cities-splash {
        
}
.cities-splash p {
    padding: 20px;
}
.city-link {
    text-decoration: none;
    color: rgb(55, 112, 235);
    font-size: 30px;
}
.city-link:hover {
    color: rgb(0, 30, 128);
}
.bar {
    background-color: rgb(17, 39, 141);
    display: inline-block;
    min-width: 60px;
    margin: 7px;
    color: white;
    padding: 7px;
}
.bar:hover {
    background-color: green;
}
.bar-graph {
    display: inline-block;
    min-width: 600px;
    min-height: 200px;
    border: 1px solid blue;
    padding: 15px;
}
