html {
    background: rgba(123, 198, 255, 0.132);
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    text-align: center; 
    font-size: 20px;
}
p {
    font-size: 20px;
}
button {
    text-decoration: none;
    font-size: 25px;
    font-family: Geneva, Verdana, Tahoma, sans-serif;
}
a {text-decoration: none;}
a:visited { text-decoration: none; color: black}
a:hover { text-decoration: none; color: black}
a:focus { text-decoration: none;}
a:hover, a:active { text-decoration: none;}
.hide-this-shit {
    display: none;
}
.heading{
    margin: 0px;
    padding: 0px;
    margin-top: 75px;
}
.cities-splash {
    display: flex;
    width: 770px;
    margin: auto;
    margin-top: 50px;
    padding: 150px;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    min-height: 200px;
    background: rgb(252, 252, 252);
}
.city-link {
    padding: 2px;
}
.city-link:hover {
    color: rgb(0, 30, 128);
}
.single-bar {
    display: inline-block;
    margin: 7px;
    color: white;
    padding: 7px;
    opacity: 0.75;
}
.single-bar:hover {
    opacity: 1;
    cursor: pointer;
}

#bar-chart {
    box-shadow: 1px 1px 1px 1px gray;
    background: radial-gradient(rgb(244, 244, 244), rgba(231, 241, 252, 0.756));
    border-radius: 15px;
}

svg {
    margin-left: auto;
    margin-right: auto;
}
g {
    font-size: 12px;
}